body{
	width: 1000px;
	margin: auto;
}

a{
	color: lightpink;
}

#title, .subtitle{
	color: #2F4F4F;
	margin: 10px;
	font-family: Verdana;
}

.posttitle{
	color: ghostwhite;
	font-size: 16px;
	font-style: italic;
	margin: 0;
	margin-bottom: 15px;
}

.post{
	color: white;
	background-image: url("fundo.jpg");
	background-size: 100% auto;
	padding: 15px;
	border: 1px solid #000;
	border-radius: 15px;
	margin: 5px;
	margin-bottom: 15px;
	text-align: justify;
}

.conteudo{
	margin: 0;
	margin-bottom: 15px;
}

.perfil{
	border-radius: 30px;
	width: 100px;
	height: 130px;
}

.contato{
	box-sizing: border-box;
  	width: 100%;

  	position: absolute;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	padding: 15px 10px;
    margin-right: auto;
    margin-left: auto;
	list-style-type: none;
	background-color: black;
	color: ghostwhite;
	
	
}

