*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
}
body{
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo{
    display: flex;
    align-items: center;
    width: 70%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    justify-content: center;
    width: 50%;
    bottom: 0;
}

.instagram-phone img {
    margin-top: 4rem;
    height: 45rem;
}
.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 40%;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 7rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    margin-top: 1.4rem;
}
/*
.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}
*/
.not-account {
    margin-top: 1.4rem;
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 1.3rem 0;
    
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

.app-download {
    height: 3rem;
    width: 12rem;
    background-size: cover;
    border-radius: 5px;

}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

.rodape{
	margin-top: 6rem;
	display: flex;
    align-items: center;
    justify-content: center;
}

.rodape .item{
    font-size: 12px;
    color: #8e8e8e;
    padding: 5px;
}

.tema{
	display: flex;
    align-items: center;
    justify-content: center;
}

.tema .item{
    font-size: 12px;
	color: #8e8e8e;
    padding: 5px;
}

.copyright{
	margin-top: 40px;
	display: flex;
    align-items: center;
    justify-content: center;
}
/* media queries */


@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
        
    }

}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;

    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}
